/* * {
    box-sizing: border-box;
} */

body {
    margin: 0;
    display: flex;
    flex-direction: row;
    line-height: 2.3;
}

/* Right side ones */

.rightPic {
    background-color: #f1f1f1;
    padding-left: 5%;
    padding-bottom: 10%;
}

.rightPic h1 {
    margin-top: 20px;
    padding: 0px 50px 5px 0px;
    width: 100%;
    font-size: 50px;
}

.rightPic h1 img {
    float: right;
    clear: left;
    display: block;
    width: 40%;
    margin-top: 40px;
    margin-right: 5%;
    margin-left: 5%;
    border-radius: 20px;
    box-shadow: 10px 10px 5px #ccc;
}

.rightPic p {
    text-align: left;
    padding: 0px 5px 5px 10px;
}

/*Left side ones */


.leftPic {
    background-color: #f1f1f1;
    padding-left: 5%;
    padding-bottom: 10%;
}

.leftPic h1 {
    margin-top: 20px;
    padding: 0px 50px 5px 0px;
    width: 100%;
    font-size: 50px;
}

.leftPic h1 img {
    float: left;
    clear: right;
    display: block;
    width: 40%;
    margin-left: 0%;
    margin-top: 40px;
    margin-right: 5%;
    border-radius: 20px;
    box-shadow: 10px 10px 5px #ccc;
}

.leftPic p {
    padding: 0px 5% 5px 40px;

}

/* .leftPic h1 img:hover {
    border: solid;
    border-color: red;

} */


footer {
    background-color: blue;
    width: 100%;
    font-size: 15px;
    text-align: center;
    border: solid;
    list-style: none;
}

/* Main page */
.mainH1{
    font-style: italic;
    text-align: center;
    background-color: lightblue;
}

.meImg{
    text-align: center;
    width: 50%;
}


/* FOR MOBILE */
@media only screen and (max-width: 1024px) {
    

/*Left side ones */
.leftPic {
    text-align: center;
    line-height: 1.5;
    padding-left: 0%;
}

.leftPic h1 img {
    float: left;
    clear: right;
    width: 100%;
    border-radius: 20px;
    box-shadow: 0px 0px 0px 0px white;
    padding-left: 0%;
}
.leftPic p {
    text-align: center;
    padding-top: 50%;
    padding: 0px 5px 5px 0px;
}


.rightPic {
    text-align: center;
    line-height: 1.5;
    padding-left: 0%;
}

.rightPic h1 img {
    float: left;
    clear: right;
    display: block;
    width: 100%;
    margin-left: 0%;
    margin-top: 40px;
    margin-right: 5%;
    border-radius: 20px;
    box-shadow: 0px 0px 0px 0px white;
}
.rightPic p {
    font-size: 100;
    padding-top: 50%;
    text-align: center;
    padding: 0px 5px 5px 10px;
    
}


}